<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.extend.GradeVMMapper">
	<select id="selectAll" resultMap="GradeVMResult">
		select * from poll_grade
	</select>

	<!-- id,name,description,school_id -->
	<!-- 定义结果集 -->
	<resultMap type="com.briup.apps.poll.bean.extend.GradeVM" id="GradeVMResult">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="descriptioin" property="description" />
		<!-- 列grade_id映射成grade -->
		<association column="school_id" property="school"
			select="com.briup.apps.poll.dao.SchoolMapper.selectByPrimaryKey">
		</association>
	</resultMap>
</mapper>